html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: auto;
  /* max-width: 1280px; */
}

ul {
  list-style: square;
  padding-left: 0;
}

.content {
  color: #333333;
  text-align: center;
  /* margin: 10px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25vw;
  padding-right: 25vw;
}

.alt-col {
  background-color: #f2f2f2;
}

.content p {
  font-size: 22px;
  text-align: justify;
}

/* .content p, h1, h2, h3 {
  margin: 10px;
} */

.bannerContent {
  margin: 0px;
}

.sideBySide {
  display: flex;
}
.sideBySide .one {
  width: 22vw;
}
.sideBySide .two {
  flex-grow: 1;
}

.navbar {
  background-color: #333333;
  border-radius: 2px;
  text-align: center;
  padding: 5.75vh;
  /* max-width: 800px; */
}

.navbar a {
  color: #90e0ef;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.sticky {
  position: fixed;
  padding: 1vh;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  font-size: 0;
}

.button {
  background-color: #90e0ef;
  color: #333333;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 25%;
  margin: 0 auto;
}

#bannerVideo {
  width: 100%;
  z-index: 0;
}

#bannerVideoText {
  position: absolute;
  top: 5vh;
  left: 24vw;
  z-index:1;
  font-size: 1rem;
  text-align: center;
}

#bannerVideoTextTitle {
  font-size: 350%;
  color: #333333;
}

#bannerVideoTextBody {
  font-size: 125%;
  list-style: none;
  padding-left: 0;
  color: #333333;
}
